<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
			<rules>
				<rule name="Rewrite to app subdirectory" stopProcessing="true">
					<match url="^$" />
					<action type="Redirect" url="http://vacogis1075mac1.dva.va.gov/apps/AccessToCare/app/index.html" />
				</rule>
			</rules>
        </rewrite>
    </system.webServer>
</configuration>
